@import '/reset.css';

@font-face {
  font-family: "Roboto-light";
  src: url('/assets/fonts/Roboto_Condensed-Light.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-regular";
  src: url('/assets/fonts/Roboto_Condensed-Regular.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-extra-bold";
  src: url('/assets/fonts/Roboto_Condensed-ExtraBold.woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


:root{
  --font-family-main: "Roboto-regular", sans-serif;

  --dark-color: #1F2937;
  --main-text-color: #F9FAF8;
  --hero-secondary-text-color: #E5E7EB;
  --button-color: #3882F6;
}

body{
  font-family: var(--font-family-main);
}

.container{
  padding: 0 250px;
}

.hero{
  height: 100vw;
  background-color: var(--dark-color);
}

.nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-block: 15px;
}

.nav_list{
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.nav_list_link{
  color: var(--main-text-color);
}

.nav_logo{
  font-size: 24px;
  color: var(--main-text-color);
  font-family: "Roboto-extra-bold", sans-serif;
}
