@import '/reset.css';

@font-face {
  font-family: "Roboto-light";
  src: url('/assets/fonts/Roboto_Condensed-Light.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-regular";
  src: url('/assets/fonts/Roboto_Condensed-Regular.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-extra-bold";
  src: url('/assets/fonts/Roboto_Condensed-ExtraBold.woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root{
  --font-family-main: "Roboto-regular", sans-serif;
  --font-family-bold: "Roboto-extra-bold", sans-serif;

  --dark-color: #1F2937;
  --main-text-color: #F9FAF8;
  --hero-secondary-text-color: #E5E7EB;
  --button-color: #3882F6;
}



body{
  font-family: var(--font-family-main);
}

a{
  color: var(--main-text-color);
  transition: 0.3s;
}

a:hover{
  filter: brightness(0.8);
}

.container{
  padding: 0 250px;
}

.hero{
  height: 500px;
  background-color: var(--dark-color);
  color: var(--main-text-color);
}

.nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-block: 15px;
}

.nav_list{
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.nav_logo{
  font-size: 24px;
  font-family: var(--font-family-bold);
}

.main{
  display: flex;
  justify-content: space-between;
  margin-block: 80px;
}

.left_container,
.right_container{
  width: 45%;
}

.main_title{
  font-family: var(--font-family-bold);
  font-size: 48px;
}

.main_btn{
  display: block;
  width: 120px;
  padding-block: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--button-color);
  margin-top: 10px;
}

.right_container{
  display: flex;
  background-color: gray;
  align-items: center;
  justify-content: center;
}

.cards{
  margin: 40px;
  display: flex;
  justify-content: space-evenly;
}

.cards_title{
  font-size: 36px;
  font-family: var(--font-family-bold);
  color: var(--dark-color);
  text-align: center;
  margin-block: 50px;
}

.card{
  display: block;
  width: 140px;
  text-align: center;
}

.img_placeholder{
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 15px;
  border: 3px solid var(--button-color);
  margin-bottom: 10px;
}

blockquote {
  background-color: var(--hero-secondary-text-color);
  font-style: italic;
  font-family: "Roboto-light", sans-serif;
  font-size: 36px;
}

blockquote p{
  padding: 70px 100px 0;
}

blockquote footer {
  text-align: right;
  font-size: 30px;
  font-style: normal;
  font-family: var(--font-family-bold);
  padding-bottom: 40px;
}

.call_to_action{
  margin-block: 100px;
}

.call_to_action_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--button-color);
  padding: 50px 100px;
  color: var(--main-text-color);
  border-radius: 20px;
}

.call_to_action_btn{
  width: 120px;
  padding-block: 5px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid white;
}

.call_to_action_title{
  font-family: var(--font-family-bold);
  font-size: 24px;
}

.call_to_action_subtitle{
  font-family: "Roboto-light", sans-serif;
}

.footer{
  text-align: center;
  background-color: var(--dark-color);
  color: var(--main-text-color);
  padding-block: 20px;
}